nav{
    padding: .5rem 1rem;
    background-color: #34434b;
    border-radius: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .24)
}
.navbar-brand{

}

#nav-dropdown{
    color: #fff;
}

.dropdown-menu{
    border-radius: 0;
}

@media (min-width: 767px) { 
    .navbar-toggler{
        display: none;
    }
 }