<div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-column">
        <h1>Logged Bugs</h1>
    </div>
    <div class="d-flex flex-column">
        <button class="btn btn-success btn-lg">
            <i class="fa fa-plus" aria-hidden="true"></i>Add Bug
        </button>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Severity</th>
                    <th>Description</th>
                    <th>Logged By</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Some Bug</td>
                    <td>LoggeD</td>
                    <td>Severe</td>
                    <td>This bug happend</td>
                    <td>Jess</td>
                    <td>12th July 2019</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>