<div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-column">
        <h1>Logged Bugs</h1>
    </div>
    <div class="d-flex flex-column">
        <button class="btn btn-success btn-lg" [attr.data-target]="'#' + bugDetail.modalId" data-toggle="modal" (click)="bugDetail.refreshForm()">
            <i class="fa fa-plus" aria-hidden="true"></i>Add Bug
        </button>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Severity</th>
                    <th>Description</th>
                    <th>Logged By</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bug of bugs" [attr.data-target]=" '#' + bugDetail.modalId" data-toggle="modal" (click)="bugDetail.configureForm(bug)">
                    <td>{{bug.title}}</td>
                    <td>{{bug.status}}</td>
                    <td>{{bug.severity}}</td>
                    <td>{{bug.description}}</td>
                    <td>{{bug.createdBy}}</td>
                    <td>{{bug.createdDate | date }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--Allows you to access the component and all of its methods and properties-->
<bug-detail #bugDetail></bug-detail>